.gg-patreon {
  transform: scale(var(--ggs, 1));
}
.gg-patreon,
.gg-patreon::after {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 4px;
  height: 16px;
  background: currentColor;
  left: -6px;
}
.gg-patreon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.5;
  border-radius: 100px;
  left: 6px;
}

.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}
.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}
.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}